nodered-flow-telegram.json
[
  {
    "id": "ml_predictor_telegram_flow",
    "type": "tab",
    "label": "ML Predictor + Telegram Alerts",
    "disabled": false,
    "info": "Gas monitoring with ML predictions and Telegram alerts"
  },
  {
    "id": "inject_sensor",
    "type": "inject",
    "z": "ml_predictor_telegram_flow",
    "name": "Simulate Sensor Every 10s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "generate_sensor_data"
      ]
    ]
  },
  {
    "id": "generate_sensor_data",
    "type": "function",
    "z": "ml_predictor_telegram_flow",
    "name": "Generate MQ135 & MQ5",
    "func": "// Simulate sensor readings\nconst mq135 = (Math.random() * 400 + 100).toFixed(2);\nconst mq5 = (Math.random() * 300 + 50).toFixed(2);\n\n// Prepare for ML API\nmsg.ml_payload = {\n    MQ135: parseFloat(mq135),\n    MQ5: parseFloat(mq5)\n};\n\n// Store in InfluxDB\nmsg.payload = {\n    MQ135: parseFloat(mq135),\n    MQ5: parseFloat(mq5)\n};\n\nmsg.sensor_values = `MQ135=${mq135}, MQ5=${mq5}`;\nnode.status({fill:\"green\",shape:\"dot\",text:msg.sensor_values});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 140,
    "wires": [
      [
        "write_to_influx",
        "debug_sensor",
        "delay_for_influx"
      ]
    ]
  },
  {
    "id": "write_to_influx",
    "type": "influxdb out",
    "z": "ml_predictor_telegram_flow",
    "influxdb": "influx_config",
    "name": "Write to InfluxDB",
    "measurement": "gas_data",
    "precision": "",
    "retentionPolicy": "",
    "database": "gasdb",
    "precisionV18Flux": "",
    "retentionPolicyV18Flux": "",
    "org": "",
    "bucket": "",
    "x": 630,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug_sensor",
    "type": "debug",
    "z": "ml_predictor_telegram_flow",
    "name": "Debug Sensor Data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "sensor_values",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 140,
    "wires": []
  },
  {
    "id": "delay_for_influx",
    "type": "delay",
    "z": "ml_predictor_telegram_flow",
    "name": "Wait 500ms",
    "pauseType": "delay",
    "timeout": "500",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 630,
    "y": 180,
    "wires": [
      [
        "prepare_api_request"
      ]
    ]
  },
  {
    "id": "prepare_api_request",
    "type": "function",
    "z": "ml_predictor_telegram_flow",
    "name": "Prepare API Payload",
    "func": "// Prepare payload for FastAPI\nmsg.payload = msg.ml_payload;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 180,
    "wires": [
      [
        "call_ml_api"
      ]
    ]
  },
  {
    "id": "call_ml_api",
    "type": "http request",
    "z": "ml_predictor_telegram_flow",
    "name": "POST /predict",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://host.docker.internal:8000/predict",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1050,
    "y": 180,
    "wires": [
      [
        "process_predictions",
        "debug_predictions"
      ]
    ]
  },
  {
    "id": "debug_predictions",
    "type": "debug",
    "z": "ml_predictor_telegram_flow",
    "name": "Debug Predictions",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 140,
    "wires": []
  },
  {
    "id": "process_predictions",
    "type": "function",
    "z": "ml_predictor_telegram_flow",
    "name": "Extract Predictions & Alert Logic",
    "func": "// Extract predictions from HYBRID API response (LSTM + SVM)\nconst predictions = msg.payload.predictions || {};\nconst co = predictions.co || 0;\nconst ethanol = predictions.ethanol || 0;\nconst temperature = predictions.temperature || 0;  // LSTM temperature prediction\n\n// NEW: SVM classification result (additional to LSTM)\nconst svmClassification = msg.payload.svm_classification || {};\nconst svmClass = svmClassification.class || 'NORMAL';\nconst svmConfidence = svmClassification.confidence || 0;\n\n// Get overall alert level from API (API combines LSTM + SVM)\nconst apiAlertLevel = msg.payload.alert_level || 'NORMAL';\n\nconst processingTime = msg.payload.processing_time_ms || 0;\nconst sensorInput = msg.payload.sensor_input || {};\n\n// Determine alert message and emoji based on API alert level\nlet alertLevel = apiAlertLevel.toLowerCase();\nlet alertMsg = \"\";\nlet alertEmoji = \"\";\nlet shouldAlert = false;\n\nif (alertLevel === \"danger\") {\n    if (co > 0.7) {\n        alertMsg = `🚨 CRITICAL: High CO detected (${co.toFixed(4)})`;\n    } else {\n        alertMsg = `🚨 DANGER: ${svmClass} condition detected`;\n    }\n    alertEmoji = \"🚨\";\n    shouldAlert = true;\n} else if (alertLevel === \"warning\") {\n    if (co > 0.5) {\n        alertMsg = `⚠️ WARNING: Elevated CO (${co.toFixed(4)})`;\n    } else if (ethanol > 0.6) {\n        alertMsg = `⚠️ WARNING: High Ethanol (${ethanol.toFixed(4)})`;\n    } else {\n        alertMsg = `⚠️ WARNING: ${svmClass} condition from SVM`;\n    }\n    alertEmoji = \"⚠️\";\n    shouldAlert = true;\n} else {\n    alertMsg = \"✅ All parameters normal\";\n    alertEmoji = \"✅\";\n    shouldAlert = false;\n}\n\n// Prepare output message\nmsg.predictions = {\n    co: co,\n    ethanol: ethanol,\n    temperature: temperature,\n    svm_class: svmClass,\n    svm_confidence: svmConfidence,\n    alert_level: alertLevel,\n    alert_message: alertMsg,\n    processing_time_ms: processingTime,\n    timestamp: msg.payload.timestamp,\n    sensor_input: sensorInput\n};\n\n// Set node status\nlet statusColor = \"green\";\nif (alertLevel === \"warning\") statusColor = \"yellow\";\nif (alertLevel === \"danger\") statusColor = \"red\";\n\nnode.status({\n    fill: statusColor,\n    shape: \"dot\",\n    text: alertMsg\n});\n\n// Prepare alert message for Telegram\nmsg.alert = {\n    level: alertLevel,\n    message: alertMsg,\n    emoji: alertEmoji,\n    values: { \n        co: co.toFixed(4), \n        ethanol: ethanol.toFixed(4),\n        temperature: temperature.toFixed(4)\n    },\n    svm: {\n        class: svmClass,\n        confidence: svmConfidence ? (svmConfidence * 100).toFixed(1) + '%' : 'N/A'\n    },\n    sensor: {\n        mq135: sensorInput.MQ135 ? sensorInput.MQ135.toFixed(2) : 'N/A',\n        mq5: sensorInput.MQ5 ? sensorInput.MQ5.toFixed(2) : 'N/A'\n    },\n    timestamp: new Date().toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh' })\n};\n\n// Only send to Telegram if alert is warning or danger\nif (shouldAlert) {\n    return [msg, msg]; // Output to both InfluxDB and Telegram\n}\n\nreturn [msg, null]; // Only InfluxDB, no Telegram",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1310,
    "y": 180,
    "wires": [
      [
        "write_predictions_to_influx"
      ],
      [
        "telegram_alert_formatter"
      ]
    ]
  },
  {
    "id": "write_predictions_to_influx",
    "type": "function",
    "z": "ml_predictor_telegram_flow",
    "name": "Format for InfluxDB",
    "func": "// Prepare predictions for InfluxDB\nconst pred = msg.predictions;\n\n// IMPORTANT: Use alert_level (normalized LSTM + SVM) NOT raw svm_class\n// alert_level is determined by ML API with proper normalization\nconst alertStatus = pred.alert_level === \"danger\" ? 2 : (pred.alert_level === \"warning\" ? 1 : 0);\n\n// For backward compatibility: svm_status = alert_status (use same value)\nconst svmStatus = alertStatus;\n\n// InfluxDB node expects simple object in msg.payload\nmsg.payload = {\n    pred_co: pred.co,\n    pred_ethanol: pred.ethanol,\n    pred_temperature: pred.temperature,\n    svm_status: svmStatus,\n    alert_status: alertStatus,\n    processing_time_ms: pred.processing_time_ms\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1580,
    "y": 140,
    "wires": [
      [
        "influx_predictions"
      ]
    ]
  },
  {
    "id": "influx_predictions",
    "type": "influxdb out",
    "z": "ml_predictor_telegram_flow",
    "influxdb": "influx_config",
    "name": "Write Predictions",
    "measurement": "gas_predictions",
    "precision": "",
    "retentionPolicy": "",
    "database": "gasdb",
    "precisionV18Flux": "",
    "retentionPolicyV18Flux": "",
    "org": "",
    "bucket": "",
    "x": 1810,
    "y": 140,
    "wires": []
  },
  {
    "id": "telegram_alert_formatter",
    "type": "function",
    "z": "ml_predictor_telegram_flow",
    "name": "Format Telegram Message",
    "func": "// Format beautiful Telegram alert message\nconst alert = msg.alert;\n\n// Build formatted message with emojis and formatting\nlet message = `${alert.emoji} *GAS MONITORING ALERT* ${alert.emoji}\\n\\n`;\nmessage += `*Alert Level:* ${alert.level.toUpperCase()}\\n`;\nmessage += `*Message:* ${alert.message}\\n\\n`;\n\n// LSTM Predictions section\nmessage += `📊 *LSTM Predictions:*\\n`;\nmessage += `  • CO: \\`${alert.values.co}\\`\\n`;\nmessage += `  • Ethanol: \\`${alert.values.ethanol}\\`\\n\\n`;\n\n// SVM Classification section (NEW)\nif (alert.svm) {\n    message += `🤖 *SVM Classification:*\\n`;\n    message += `  • Status: \\`${alert.svm.class}\\`\\n`;\n    message += `  • Confidence: \\`${alert.svm.confidence}\\`\\n\\n`;\n}\n\n// Sensor readings section\nmessage += `🔬 *Sensor Readings:*\\n`;\nmessage += `  • MQ135: \\`${alert.sensor.mq135}\\` ppm\\n`;\nmessage += `  • MQ5: \\`${alert.sensor.mq5}\\` ppm\\n\\n`;\n\n// Threshold info\nmessage += `⚙️ *Thresholds:*\\n`;\nif (alert.level === \"danger\") {\n    message += `  • CO > 0.7 (CRITICAL)\\n`;\n} else {\n    message += `  • Ethanol > 0.6 or Temp > 0.8\\n`;\n}\n\n// Timestamp\nmessage += `\\n🕐 *Time:* ${alert.timestamp}`;\n\n// CRITICAL: telegram sender node needs both type and content\n// REPLACE 123456789 with your actual Chat ID from @getidsbot\nmsg.payload = {\n    type: \"message\",\n    content: message,\n    chatId: 8561028127  // CHANGE THIS to your Chat ID (number, no quotes)\n};\n\n// Also keep original alert data\nmsg.alert_data = alert;\n\nnode.status({\n    fill: alert.level === \"danger\" ? \"red\" : \"yellow\",\n    shape: \"dot\",\n    text: `Sending ${alert.level} alert`\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1600,
    "y": 220,
    "wires": [
      [
        "send_telegram",
        "debug_telegram"
      ]
    ]
  },
  {
    "id": "send_telegram",
    "type": "telegram sender",
    "z": "ml_predictor_telegram_flow",
    "name": "Send to Telegram",
    "bot": "telegram_bot_config",
    "haserroroutput": true,
    "outputs": 2,
    "x": 1830,
    "y": 220,
    "wires": [
      [
        "telegram_success"
      ],
      [
        "telegram_error"
      ]
    ]
  },
  {
    "id": "telegram_success",
    "type": "debug",
    "z": "ml_predictor_telegram_flow",
    "name": "Telegram Success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "\"Alert sent\"",
    "statusType": "jsonata",
    "x": 2040,
    "y": 200,
    "wires": []
  },
  {
    "id": "telegram_error",
    "type": "debug",
    "z": "ml_predictor_telegram_flow",
    "name": "Telegram Error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "\"Send failed\"",
    "statusType": "jsonata",
    "x": 2040,
    "y": 240,
    "wires": []
  },
  {
    "id": "debug_telegram",
    "type": "debug",
    "z": "ml_predictor_telegram_flow",
    "name": "Debug Telegram Payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1850,
    "y": 280,
    "wires": []
  },
  {
    "id": "api_health_check",
    "type": "inject",
    "z": "ml_predictor_telegram_flow",
    "name": "Health Check (1min)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 380,
    "wires": [
      [
        "check_api_health"
      ]
    ]
  },
  {
    "id": "check_api_health",
    "type": "http request",
    "z": "ml_predictor_telegram_flow",
    "name": "GET /health",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://host.docker.internal:8000/health",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 400,
    "y": 380,
    "wires": [
      [
        "display_health"
      ]
    ]
  },
  {
    "id": "display_health",
    "type": "debug",
    "z": "ml_predictor_telegram_flow",
    "name": "API Health Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.status",
    "statusType": "msg",
    "x": 620,
    "y": 380,
    "wires": []
  },
  {
    "id": "test_telegram",
    "type": "inject",
    "z": "ml_predictor_telegram_flow",
    "name": "Test Telegram Alert",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 460,
    "wires": [
      [
        "create_test_alert"
      ]
    ]
  },
  {
    "id": "create_test_alert",
    "type": "function",
    "z": "ml_predictor_telegram_flow",
    "name": "Create Test Alert",
    "func": "// Create a test alert message\nmsg.alert = {\n    level: \"warning\",\n    message: \"Test Alert - High CO Detected\",\n    emoji: \"🧪\",\n    values: { \n        co: \"0.8500\", \n        ethanol: \"0.4500\", \n        temperature: \"0.6200\"\n    },\n    sensor: {\n        mq135: \"234.50\",\n        mq5: \"123.40\"\n    },\n    timestamp: new Date().toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh' })\n};\n\n// IMPORTANT: Ensure chatId is set for telegram sender node\n// The bot config should have this in Users tab, but we can also set it here\n// msg.payload.chatId = \"YOUR_CHAT_ID\";  // Only if needed\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 460,
    "wires": [
      [
        "telegram_alert_formatter"
      ]
    ]
  },
  {
    "id": "influx_config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "gasdb",
    "name": "InfluxDB Local",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "1.8",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false
  },
  {
    "id": "telegram_bot_config",
    "type": "telegram bot",
    "botname": "Gas Monitor Bot",
    "usernames": "",
    "chatids": "YOUR_CHAT_ID",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "socksport": "6667",
    "socksusername": "anonymous",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbotport": "8443",
    "publicbotport": "8443",
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "comment_1",
    "type": "comment",
    "z": "ml_predictor_telegram_flow",
    "name": "Step 1: Sensor Data → InfluxDB",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "comment_2",
    "type": "comment",
    "z": "ml_predictor_telegram_flow",
    "name": "Step 2: ML Prediction API",
    "info": "",
    "x": 880,
    "y": 60,
    "wires": []
  },
  {
    "id": "comment_3",
    "type": "comment",
    "z": "ml_predictor_telegram_flow",
    "name": "Step 3: Alert Processing & Telegram",
    "info": "",
    "x": 1580,
    "y": 60,
    "wires": []
  },
  {
    "id": "comment_4",
    "type": "comment",
    "z": "ml_predictor_telegram_flow",
    "name": "Monitoring & Testing",
    "info": "",
    "x": 180,
    "y": 340,
    "wires": []
  }
]
