nodered-flow-ml-api.json
[
  {
    "id": "ml_predictor_flow",
    "type": "tab",
    "label": "ML Predictor API Integration",
    "disabled": false,
    "info": "Integration between sensor data and FastAPI ML Predictor"
  },
  {
    "id": "inject_sensor",
    "type": "inject",
    "z": "ml_predictor_flow",
    "name": "Simulate Sensor Every 10s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "generate_sensor_data"
      ]
    ]
  },
  {
    "id": "generate_sensor_data",
    "type": "function",
    "z": "ml_predictor_flow",
    "name": "Generate MQ135 & MQ5",
    "func": "// Simulate sensor readings\nconst mq135 = (Math.random() * 400 + 100).toFixed(2);\nconst mq5 = (Math.random() * 300 + 50).toFixed(2);\n\n// Prepare for ML API\nmsg.ml_payload = {\n    MQ135: parseFloat(mq135),\n    MQ5: parseFloat(mq5)\n};\n\n// Store in InfluxDB - InfluxDB node needs msg.payload directly\nmsg.payload = {\n    MQ135: parseFloat(mq135),\n    MQ5: parseFloat(mq5)\n};\n\nmsg.sensor_values = `MQ135=${mq135}, MQ5=${mq5}`;\nnode.status({fill:\"green\",shape:\"dot\",text:msg.sensor_values});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 140,
    "wires": [
      [
        "write_to_influx",
        "debug_sensor",
        "delay_for_influx"
      ]
    ]
  },
  {
    "id": "write_to_influx",
    "type": "influxdb out",
    "z": "ml_predictor_flow",
    "influxdb": "influx_config",
    "name": "Write to InfluxDB",
    "measurement": "gas_data",
    "precision": "",
    "retentionPolicy": "",
    "database": "gasdb",
    "precisionV18Flux": "",
    "retentionPolicyV18Flux": "",
    "org": "",
    "bucket": "",
    "x": 630,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug_sensor",
    "type": "debug",
    "z": "ml_predictor_flow",
    "name": "Debug Sensor Data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "sensor_values",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 140,
    "wires": []
  },
  {
    "id": "delay_for_influx",
    "type": "delay",
    "z": "ml_predictor_flow",
    "name": "Wait 500ms",
    "pauseType": "delay",
    "timeout": "500",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 630,
    "y": 180,
    "wires": [
      [
        "prepare_api_request"
      ]
    ]
  },
  {
    "id": "prepare_api_request",
    "type": "function",
    "z": "ml_predictor_flow",
    "name": "Prepare API Payload",
    "func": "// Prepare payload for FastAPI\nmsg.payload = msg.ml_payload;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 180,
    "wires": [
      [
        "call_ml_api"
      ]
    ]
  },
  {
    "id": "call_ml_api",
    "type": "http request",
    "z": "ml_predictor_flow",
    "name": "POST /predict",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://host.docker.internal:8000/predict",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1050,
    "y": 180,
    "wires": [
      [
        "process_predictions",
        "debug_predictions"
      ]
    ]
  },
  {
    "id": "debug_predictions",
    "type": "debug",
    "z": "ml_predictor_flow",
    "name": "Debug Predictions",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 140,
    "wires": []
  },
  {
    "id": "process_predictions",
    "type": "function",
    "z": "ml_predictor_flow",
    "name": "Extract Predictions & Alert",
    "func": "// Extract predictions from API response\nconst predictions = msg.payload.predictions || {};\nconst co = predictions.co || 0;\nconst ethanol = predictions.ethanol || 0;\nconst temperature = predictions.temperature || 0;\nconst processingTime = msg.payload.processing_time_ms || 0;\n\n// Alert thresholds\nconst CO_THRESHOLD = 0.7;\nconst ETHANOL_THRESHOLD = 0.6;\nconst TEMP_THRESHOLD = 0.8;\n\n// Determine alert status\nlet alertLevel = \"normal\";\nlet alertMsg = \"All values normal\";\n\nif (co > CO_THRESHOLD) {\n    alertLevel = \"danger\";\n    alertMsg = `⚠️ HIGH CO DETECTED: ${co.toFixed(4)}`;\n} else if (ethanol > ETHANOL_THRESHOLD) {\n    alertLevel = \"warning\";\n    alertMsg = `⚠️ High Ethanol: ${ethanol.toFixed(4)}`;\n} else if (temperature > TEMP_THRESHOLD) {\n    alertLevel = \"warning\";\n    alertMsg = `⚠️ High Temperature: ${temperature.toFixed(4)}`;\n}\n\n// Prepare output message\nmsg.predictions = {\n    co: co,\n    ethanol: ethanol,\n    temperature: temperature,\n    alert_level: alertLevel,\n    alert_message: alertMsg,\n    processing_time_ms: processingTime,\n    timestamp: msg.payload.timestamp\n};\n\n// Set node status\nlet statusColor = \"green\";\nif (alertLevel === \"warning\") statusColor = \"yellow\";\nif (alertLevel === \"danger\") statusColor = \"red\";\n\nnode.status({\n    fill: statusColor,\n    shape: \"dot\",\n    text: alertMsg\n});\n\n// Send alert if needed\nif (alertLevel !== \"normal\") {\n    msg.alert = {\n        level: alertLevel,\n        message: alertMsg,\n        values: { co, ethanol, temperature }\n    };\n    return [msg, msg]; // Output to both normal and alert flows\n}\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1290,
    "y": 180,
    "wires": [
      [
        "write_predictions_to_influx"
      ],
      [
        "send_alert"
      ]
    ]
  },
  {
    "id": "write_predictions_to_influx",
    "type": "function",
    "z": "ml_predictor_flow",
    "name": "Format for InfluxDB",
    "func": "// Prepare predictions for InfluxDB\nconst pred = msg.predictions;\n\n// InfluxDB node expects simple object in msg.payload\nmsg.payload = {\n    pred_co: pred.co,\n    pred_ethanol: pred.ethanol,\n    pred_temperature: pred.temperature,\n    alert_level: pred.alert_level === \"danger\" ? 2 : (pred.alert_level === \"warning\" ? 1 : 0),\n    processing_time_ms: pred.processing_time_ms\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1540,
    "y": 180,
    "wires": [
      [
        "influx_predictions"
      ]
    ]
  },
  {
    "id": "influx_predictions",
    "type": "influxdb out",
    "z": "ml_predictor_flow",
    "influxdb": "influx_config",
    "name": "Write Predictions",
    "measurement": "gas_predictions",
    "precision": "",
    "retentionPolicy": "",
    "database": "gasdb",
    "precisionV18Flux": "",
    "retentionPolicyV18Flux": "",
    "org": "",
    "bucket": "",
    "x": 1770,
    "y": 180,
    "wires": []
  },
  {
    "id": "send_alert",
    "type": "debug",
    "z": "ml_predictor_flow",
    "name": "Alert Output",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "alert",
    "targetType": "msg",
    "statusVal": "alert.message",
    "statusType": "msg",
    "x": 1530,
    "y": 240,
    "wires": []
  },
  {
    "id": "api_health_check",
    "type": "inject",
    "z": "ml_predictor_flow",
    "name": "Health Check (1min)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 320,
    "wires": [
      [
        "check_api_health"
      ]
    ]
  },
  {
    "id": "check_api_health",
    "type": "http request",
    "z": "ml_predictor_flow",
    "name": "GET /health",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://host.docker.internal:8000/health",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 400,
    "y": 320,
    "wires": [
      [
        "display_health"
      ]
    ]
  },
  {
    "id": "display_health",
    "type": "debug",
    "z": "ml_predictor_flow",
    "name": "API Health Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.status",
    "statusType": "msg",
    "x": 620,
    "y": 320,
    "wires": []
  },
  {
    "id": "influx_config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "gasdb",
    "name": "InfluxDB Local",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "1.8",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false
  },
  {
    "id": "comment_1",
    "type": "comment",
    "z": "ml_predictor_flow",
    "name": "Step 1: Generate & Write to InfluxDB",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "comment_2",
    "type": "comment",
    "z": "ml_predictor_flow",
    "name": "Step 2: Call ML API with lookback logic",
    "info": "",
    "x": 880,
    "y": 60,
    "wires": []
  },
  {
    "id": "comment_3",
    "type": "comment",
    "z": "ml_predictor_flow",
    "name": "Step 3: Process & Alert",
    "info": "",
    "x": 1520,
    "y": 60,
    "wires": []
  }
]
